/* components/NFTSection/styles.module.css */
.nftSection {
  background-color: color-mix(in srgb, var(--opposite-bg), transparent 90%);
  color: var(--primary-text);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: 900;
}

.header {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1;
}

.list {
  width: 240px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: decimal;
  line-height: 1.1;
}

.button {
  border-radius: 12px;
}

@media (prefers-color-scheme: light) {
  .nftSection {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }
}
