/* components/NFTSection/styles.module.css */
.nftSection {
  background-color: color-mix(in srgb, var(--opposite-bg), transparent 90%);
  color: var(--primary-text);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: 900;
}

.header {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1;
}

.list {
  text-align: left;
  margin: 0 auto 20px;
  list-style-type: decimal;
  margin-inline-start: 16px;
  line-height: 1.1;
}

.button {
  border-radius: 12px;
}
